/*////////////////////////////////////////////////////////////////*/

                            /*POLICES*/

/*////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'Agraham';
    src: url('fonts/agraham/Agraham.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/*////////////////////////////////////////////////////////////////*/

                            /*BALISES*/

/*////////////////////////////////////////////////////////////////*/
body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Oswald", sans-serif;

}


nav,footer{
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    border-radius: 30px;
}

header .navigation a{
    border-bottom: 1px solid pink;
}


footer{
    margin: auto;
    width: 100px;
}

footer a:hover{
    opacity: 0.8 ;
}


a{
    text-decoration: none;
    color: white;
}


a:hover{
    opacity: 0.8;
    color: pink;
}

a:visited{
    text-decoration: none;
}


header a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    
    display: inline; 
    padding: 0;      
    margin-bottom: 0;       
    line-height: 1;
}

h1{
    font-size: 3.5em;
    text-align: center;
    font-family: "Agraham", sans-serif
}


h2{
    font-size: 2.5em;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
}



p{
    font-size: 1.1em;
    text-align: justify
}


td,th,tr{
    border: 1px solid pink;
    padding: 50px;
}

table{
    border-collapse: collapse;
    margin: auto;
}


span{
    color:pink;
}

#ancre-projet{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding: 100px;
    gap: 100px;

}



#ancre-projet h2{
    text-align: left;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

form input{
    height: 50px;
}

form textarea{
    height: 150px;
}

form textarea::placeholder{
    text-align: left;
}


/*////////////////////////////////////////////////////////////////*/

                            /*CLASSES ET ID*/

/*////////////////////////////////////////////////////////////////*/

/* index.html*/ 

.classeTemporaireForm{
    padding: 200px;
    text-align: center;
    font-size: 2em;

}
.Portfolio{
    background-color: black;
    color: black;
    padding: 20px;
}

.PortfolioAccueil{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 200px;

}

.PortfolioAccueil h2{
    color: white;
}
.PortfolioAccueil a{
    color: white;
}

.PortfolioAccueil .btn2{
    display: flex;
    justify-content: center;
    margin-left: 600px;
    margin-right: 600px;

    position: relative;
    animation: illustration1 2s ease-in-out infinite;

    text-decoration: underline;    
}

@keyframes illustration1{
    0% {
      left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
      left: 0;
    }
  }
  


/*.voir-cette-image{
    /*position: absolute;
    top: 0px;
    bottom : 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    border: red 3px solid;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

/*.Portfolio a:hover .voir-cette-image{
    display: flex;
}*/
.introNightAp{
    width: 1000px;
    margin: auto;
    padding: 100px;

    display: flex;
    flex-direction: column;
    gap: 100px
}


.introNightAp a{
    width: 210px;
    margin: auto;
    background-color: pink;

}

.introNightAp a:hover{
    color: black;
}


.coordonees{
    display: flex;
    flex: row;
    gap: 50px;

}

#resumeprojet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
}

.conteneurPortraits a{
    position: relative;
}

.conteneurPortraits{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-right: 50px;
    margin-left: 50px;


}

.conteneurPortraits img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn, .carte-de-visite a{   
    width:40% ;
    height:20%;
    margin: auto;
    position: relative;
    animation: illustration2 2s ease-in-out infinite;
}



@keyframes illustration2 {
    0% {
      top: 0;
    }
    50% {
        top: 20px;
    }
    100% {
      top: 0;
    }
  }


  .navigation:hover{
    animation: selection1 0.75s ease-in;
    position:relative;
    opacity: 1;

  }



  @keyframes selection1{
    0% {
        right: 0px;
    }
    25%{
        right: 5px;
    }
    50% {
        right: 10px;
    }
    75%{
        right: 5px;
    }
    100% {
        right: 0px;
    }
  }



/*a propos*/

.materielMathias{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 40px;

    margin-right: 40px ;
    margin-left: 40px ;

}

.materielMathias div{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    
    text-align: justify;
    border-right: solid 1px white;

}

.materielMathias img{
    width: 62.5%;
    height: 62.5%;
}










.carte-de-visite{
margin: auto;
padding-top: 100px;
}

.carte-de-visite img{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}









.soldes{
    text-decoration:line-through;
}

#tarifs{
    padding-top: 100px;
    padding-bottom: 100px;


}







.btn{
    border-radius: 30px;
    border: none;
    background-color: white ;
    color: black;
    padding: 15px;
    font-weight:800;
}

.btnPortfolio{
    display: flex;
    justify-content: center;
    padding-bottom:30px ;
    text-decoration: underline;

}


.introMathias{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    width: auto;
    gap: 40px;
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;


}

.introMathias img{
    width: 60%;
    height: 60%;
}


.introMathias div{
    text-align: justify;
    border-left: solid 1px white;
    padding-right: 40px;
    padding-left: 40px;

}

.introMathias h2{
   text-align: left;
}




























































/*    <form method="get" action="">
                        <label for="langue">Veuillez selectionnez une langue :</label>
                        <select name="langue" id="langue">
                            <option value="Français" selected>Français 🇫🇷</option>
                            <option value="Anglais" selected>Anglais 🇬🇧​</option>
                            <option value="Allemand" selected>Allemand 🇩🇪​ </option>
                            <option value="Espagnol" selected>Espagnol 🇪🇸</option>
                            <option value="Japonais" selected>Japonais 🇯🇵​</option>
                        </select>
                    </form>

                    <br><br>

                    <form method="get" action="">
                    <label>Veuillez selectionnez une langue :</label><br>
                    <label for="français">Français</label><input type="checkbox" name="français" id="français">
                    <label for="anglais">Anglais</label><input type="checkbox" name="anglais" id="anglais">
                    <label for="espagnol">Espagnol</label><input type="checkbox" name="espagnol" id="espagnol">
                    <label for="allemand">Allemand</label><input type="checkbox" name="allemand" id="allemand">
                    </form>

                    <br><br>

                    <form method="get" action="">

                        <label for="langue">Veuillez choisir une langue :</label><br>


                        <label for="français">Français</label>
                            <input type="radio" name="langue" value="français" id="français" checked>

                        <label for="anglais">Anglais</label>
                            <input type="radio" name="langue" value="anglais" id="anglais" checked>

                        <label for="espagnol">Espagnol</label>
                            <input type="radio" name="langue" value="espagnol" id="espagnol" checked>

                        <label for="allemand">Allemand</label>
                            <input type="radio" name="langue" value="allemand" id="allemand" checked>

                    </form>*/